body{
    background-image: url("https://i.pinimg.com/736x/0c/9e/9f/0c9e9fb9bdfc0503335b2a05d067b248.jpg");
    background-size: cover;
}

#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
